#photo-container {
    position: absolute;
    top: 60px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 999;
  }

  .photo-box {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
    border: 5px solid #ffffff;
  }

  .photo-box:hover {
    transform: scale(1.05);
  }

  .photo-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
